{% extends 'moderator.html' %}

{% block content %}
<table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Заказ</th>
            <th>Дата</th>
            <th>
                Подтвердить
            </th>
          </tr>
        </thead>

    {% for o in orders %}
        {% if o.confirmation %}
                <tr class="table-success">
            {% else %}
                    <tr>
            {% endif %}
            <td>{{ o.text }}</td>
            <td>{{ o.datetime }}</td>
            <td>
                {% if o.confirmation %}
                <a href="/moderator/chef_order_cancel/{{o.id}}/">Oтмена</a>
            {% else %}
                <a href="/moderator/chef_order_confirm/{{o.id}}/">Ок</a>
            {% endif %}

            </td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}